[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tensorflow = "*"
scikit-learn = "*"
chardet = "*"
rich = "*"
flask-healthz = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.11"

[scripts]
lint = "pylint --rcfile ../pylintrc ."
format = "black --config ../pyproject.toml ."
